In [27]:
# Import statements
from __future__ import division
import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt

from ipywidgets import *
from IPython.display import display

In [12]:
print ("Reading Processed CSV for Overview of Data")
security_incidents = pd.read_csv("processed_data/security_incidents2016-10-03_datetime.csv", encoding = "ISO-8859-1")
security_incidents.head()

Reading Processed CSV for Overview of Data

,Unnamed: 0,Incident ID,Year,Month,Day,Country,Region,District,City,UN,...,Gender Male,Gender Female,Gender Unknown,Means of attack,Attack context,Location,Latitude,Longitude,Details,DateTime
0,5,5,1997,2,14,Rwanda,Kigali,NaN,Kigali,1,...,0,0,1,Shooting (small arms,Individual,Unknown,-1.9508511,30.0615075,1 UN national staff shot and killed in Kigali ...,1997-02-14
1,7,6,1997,5,7,Sierra Leone,NaN,NaN,NaN,3,...,1,0,2,Unknown,Ambush,Unknown,8.6400349,-11.8400269,1 UN national staff driver killed and 2 UN nat...,1997-05-07
2,9,12,1997,6,8,Rwanda,Northern,Musanze,Ruhengeri,0,...,1,0,0,Unknown,Combat (or police operations),Unknown,-1.49984,29.63497,1 INGO national staff killed when he was among...,1997-06-08
3,10,8,1997,6,14,Rwanda,Northern,Musanze,Ruhengeri,1,...,1,0,0,Shooting (small arms,Individual,Home,-1.49984,29.63497,1 UN national staff shot and killed in Ruhenge...,1997-06-14
4,11,9,1997,6,17,Rwanda,Northern,Musanze,Ruhengeri,1,...,0,0,1,Shooting (small arms,Detention,Unknown,-1.49984,29.63497,1 UN national staff shot and killed in Ruhenge...,1997-06-17

In [13]:
print ("Exploring Injury Totals for the Year 2015")
print (security_incidents[security_incidents.Year == 2015]['Total killed'].sum())
print (security_incidents[security_incidents.Year == 2015]['Total wounded'].sum())
print (security_incidents[security_incidents.Year == 2015]['Total kidnapped'].sum())

Exploring Injury Totals for the Year 2015
106
109
68

In [52]:
print("Exploring Total Kill Trends by Country")
si = security_incidents

def f(year):
    graph_title = "Top 10 Total Kills by Country (" + str(year) + ")"
    country_group = si[si.Year == year].groupby('Country')
    country_totals = country_group.sum()
    my_plot = country_totals.sort_values('Total killed', ascending=False)['Total killed'].head(10).plot(kind='bar',legend=None,title=graph_title)
    my_plot.set_xlabel("Country")
    my_plot.set_ylabel("Total killed")
interact(f, year=widgets.IntSlider(min=1997,max=2016,step=1,value=1997))

Exploring Total Kill Trends by Country

A Jupyter Widget